{% if site.locale and site.locale != "" and site.locale != nil %}
{% assign hdr = site.data.sitetext[site.locale].header %}
{% else %}
{% assign hdr = site.data.sitetext.header %}
{% endif %}

<!-- Hero Header (home page only) -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      {%- if hdr.title -%}
      <div class="intro-lead-in">{{ hdr.title }}</div>
      {%- endif -%}
      {%- if hdr.text -%}
      <div class="intro-heading text-uppercase">{{ hdr.text }}</div>
      {%- endif -%}
      {%- if hdr.button -%}
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ hdr.buttonlink }}">{{ hdr.button }}</a>
      {%- endif -%}
    </div>
  </div>
</header>
<!-- End Hero Header -->
